/* !------------------------------------
   ! media queries for responsive layout 
   !------------------------------------*/
/* *for mobile devices */
@media only screen and (max-width: 576px) {
	.container {
		max-width: 100%;
		margin: 20px 0;
		padding: 10px;
	}
	.players {
		grid-template-columns: repeat(2, 1fr);
	}
	.blogs {
		grid-template-columns: repeat(1, 1fr);
	}
	.player img {
		width: 100px;
		margin-bottom: 10px;
	}
	.player,
	.blog {
		flex-direction: column;
	}
	.blog .blog-thumbnail {
		width: 90%;
		margin: auto;
	}
	.blog .blog-thumbnail img {
		width: 100%;
	}
	.blog-info {
		margin: 10px;
	}

	/* !gdfghjk */

	.courses {
		grid-template-columns: repeat(1, 1fr);
	}
	.course {
		max-width: 260px;
		margin: auto;
		margin-bottom: 30px;
	}
	.course img {
		width: 240px;
	}
}
